# Q&A Activity on Testing of Hypothesis

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stat
import warnings

In [8]:
df = pd.read_csv('Week_8_Q&A_dataset - Sheet1.csv')

In [20]:
df.head(30)

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1. Descriptive analytics on the dataset.

In [11]:
df.isna().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

Checking for null values

In [12]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. Check whether female and male students scored the same marks.

In [14]:
x=np.array(df[df['Gender']=='male']['Total Marks'])

In [15]:
y=np.array(df[df['Gender']=='female']['Total Marks'])

In [16]:
stat.ttest_ind(x,y,alternative='two-sided')

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.4937822317960763)

Since the p value is greater than the significance level of 0.05, we accept the null hypothesis i.e

There is There is no significant difference in the marks scored by male and female students

# 3. Checking whether test preparation helps the students

In [19]:
df_completed=df[(df['Test preparation']=='completed')]
df_uncomplete=df[(df['Test preparation']=='none')]
stat.ttest_ind(df_completed['Total Marks'],df_uncomplete['Total Marks'],alternative='greater')

Ttest_indResult(statistic=3.6143637527769217, pvalue=0.0006335646228660053)

The pvalue 0.0006335646228660053<.05

Hence we reject our null hypothesis.

The test preparation was helpful to students